  /* General styles */
  
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
  }

  a{
    text-decoration: none;
    color: #000;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
  }
  html{
    scroll-behavior: smooth;
  }
  
  ul {
    list-style: none;
  }
  
  p {
    margin: 0 0 20px;
  }
  

  
  /* Header styles */
  header {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    flex-wrap: wrap;
  }

  nav ul{
    display: flex;
    flex-wrap: wrap;
  }

  nav ul li{
    /* padding: 1rem; */
    border-radius: 2rem;
    font-size: 1.3rem;
  }
  
  nav .menu li a{
    display: inline-block;
    padding: 1.2rem;
    color: #000;
    font-size: 1.3rem;
    font-weight: 700;
  }
  
  nav .menu li:hover{
    background-color: rgb(202, 198, 198);
    
  }

  #nav-brand{
    font-weight: 900;
    font-size: 1.7rem;
    margin-left: 0.4rem;
  }
  #nav-brand:hover{
      opacity: 0.7;
  }
  
  .hero {
    text-align: center;
    padding: 100px 20px 0;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  @media (max-width:200px) {
    .hero{
      word-break: break-all;
    }
  }
  
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
  }
  
  /* About section styles */
  .about {
    padding: 50px 20px;
    background-color: #f2f2f2;
  }
  
  /* Services section styles */
  .services {
    padding: 50px 20px;
    background-color: #fff;
  }
  
  /* Contact section styles */
  .contact {
    padding: 50px 20px;
    background-color: #f2f2f2;
  }
  
  form input,
  form textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form textarea {
    height: 100px;
  }
  
  form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Footer styles */
  footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  
 
  .navanchor a:hover{
    color: black;
    opacity: 0.7;
  }
  .serviceboxmain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  .servicebox{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 2px solid black;
    margin: 0.3rem ;
  }
  @media (min-width:768px){
    .servicebox{
      width: 70%;
    }
  }
  
  .serviceboxbutton{
    background-color: #ddd9d9;
      border: 2px solid rgb(20, 19, 19);
      border-radius:6px;
      text-align: center;
      padding: 1.3%;
    font-size: 16px;
  }
  .serviceboxbutton:hover{
    background-color: #ccc;
  }

  .project-button a{
    color: white;
    border: 1px solid #575555;
    border-radius: 2rem;
    padding: 1.3rem;
    font-size: 1.2rem;
    background-color: #575555;
  }
  .project-button a:hover{
    
    background-color: rgb(0,0,0,0.7);
  }
  .project-button{
    display: flex;
    margin: 3rem 0rem 1.2rem;
    align-self: center;
  }
  

  body{
    background-color: white;
  }

  .roadmap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .roadmap>img{ 
    max-width: 80vw;
  }
  .roadmap>i{
    margin-top: 0.6rem; 
    word-break: break-all;
  }
  .roadmap>p{
    margin-top: 0.8rem;
    max-width: 80vw;
  }

  .hamburger {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    display: none;
  }
  
  .hamburger span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #333;
    border-radius: 4px;
    transition: transform 0.3s ease;
    margin: 2px;
  }
  .toggle-check:checked ~ .menu{
      display: flex;
      flex-direction: column;
  }

  @media (max-width:768px){
    .hamburger{
      display: block;
    }
    .menu{
      display: none;
    }
    nav{
      flex-direction: column;
    }
  }
  @media (min-width:768px){
     .menu{
      flex-direction: row !important;
    }
  }

  h2{
    font-weight: 800;
  }